<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title>Town Talk | Feed</title>
        
    </head>
    <body>
        <h1>Post Feed</h1>
        {%for post in posts%}
            <div>
                <img scr="{{post['post_image']}}" width="200">
                <p>{{post['post_text']}}</p>
            </div>
        {% endfor %}
    </body>

</html>