<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
        <title>Town Talk | Sign In</title>
    </head>
    <body>
        <form action="/signup" method="POST" name="sign-up" enctype="multipart/form-data">

            <input type="text" name="display_name" placeholder="Name">
            <br><br>
            <input type="text" name="email" placeholder="Email">
            <br><br>
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <input type="file" name="photo" placeholder="Profile Picture">
            <br><br>
            <input type="text" name="username" placeholder="Username">
            <br><br>
            <input type="date" name="birthday">
            <br><br>
            <input type="text" name="bio" placeholder="Bio">
            <br><br>
            <input type="submit" name="submit" href="feed">
        
        </form>
    
    </body>
</html>